.day_item {
    font-size: large;
    padding-bottom: 20px;
    height: 55px;
    position: relative;
}

.day {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.active {
  background-color: rgb(30, 25, 110);
  color: whitesmoke;
}

.not_active_support_one {
    background-color: whitesmoke;
    border-bottom-right-radius: 25px;
}

.not_active_support_two {
    background-color: whitesmoke;
    border-top-right-radius: 25px;

}

.not_active {
    background-color: whitesmoke;
}



