.day_item {
  font-size: large;
  padding-bottom: 20px;
  height: 10vh;
  position: relative;
  cursor: pointer;
}


.day {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.active {
  background-color: #4200FF;
  color: whitesmoke;
}

.not_active_support_one {
  background-color: whitesmoke;
  border-bottom-right-radius: 25px;
}

.not_active_support_two {
  background-color: whitesmoke;
  border-top-right-radius: 25px;
}

.not_active {
  background-color: whitesmoke;
}

.support_lower {
  height: 100px;
  background-color: whitesmoke;
  border-top-right-radius: 25px;
}

@media (max-width: 767px) {
  .day_item {
    height: 107px
  }
  
  .not_active_support_one {
    border-bottom-right-radius: 0;
  }
  .not_active_support_two {
    border-top-right-radius: 0;
  }
}