.quotes_wrap {
  width: 40%;
  padding-right: 5%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.quotes_wrap div {
  color: whitesmoke;
  font-style: oblique;
  padding-left: 5%;
}

.quotes_wrap img {
  width: 1.5em;
}

.quotes_wrap :last-child {
  text-align: end;
}

@media (max-width: 767px) {
  .quotes_wrap {
    margin-top: 120px;
    top: 100px;
    width: 100%;
    box-sizing: border-box;
  }
  .quotes_wrap img {
    width: 15px;
  }
}
