.quotes_wrap {
  width: 40%;
  padding-right: 100px;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.quotes_wrap div {
  color: whitesmoke;
  font-style: oblique;
  opacity: 85%;
  padding-left: 5%;
}

.quotes_wrap img {
  width: 1.5em;
  opacity: 75%;
}

.quotes_wrap :last-child {
  text-align: end;
}

@media (max-width: 823px) {
  .quotes_wrap {
    position: relative;
    top: 7%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .quotes_wrap img {
    width: 15px;
  }
}
