.forecast_wrap {
  grid-area: p;
  background-color: #4200ff;
  height: 100%;
}

@media (max-width: 823px) {
  .forecast_wrap {
    padding: 50px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
  }

  .lock {
    overflow: hidden;
  }
}

@media (max-height: 411px) {
  .forecast_wrap {
    padding: 50px 70px 0 70px;
  }
}
