.search_wrapper {
  position: relative;
  z-index: 1;
  padding-right: 5%;
  display: flex;
}

.loader {
  width: 25px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.form {
  padding-top: 12%;
  display: flex;
}

.input {
  border: none;
  padding: 5px 10px;
  font-size: medium;
  outline: none;
  background: rgb(255, 255, 255);
  margin-right: 5px;
  height: 30px;
}

.button {
  border: none;
  border-radius: 5px;
  background: none;
  color: whitesmoke;
  width: 40px;
  cursor: pointer;
  height: 30px;
  border: none;
}

.button img {
  width: 30px;
}

@media (max-width: 767px) {
  .search_wrapper {
    position: fixed;
    top: -34px;
    right: -110%;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 0;
  }

  .active {
    right: -135px;
  }

  .input {
    width: 200px;
  }

  .loader {
    display: none;
  }
}
