.navbar_wrap {
  grid-area: n;
  background-color: #4200ff;
  height: min-content;
}

@media (max-width: 823px) {
  .navbar_wrap {
    position: fixed;
    display: block;
    padding-top: 50px;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    z-index: 1;
    background-color: whitesmoke;
  }
  .active {
    top: 0;
  }
}
